html {
  font-size: 62.5%;
  min-height: 100%;
}
body {
  @include font-size;
  min-height: 100%;
}
body, select, input, button, label {
  font-weight: 400;
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}
h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  font-family: $title;
  font-weight: 700;
  line-height: 1.3;
}
.h0 {
  @include font-size($h3-size...);
    margin: 0 0 15px;
  @include above-width($mobile) {
    @include font-size($h2-size...);
    margin: 0 0 20px;
  }
  @include above-width($tablet) {
    @include font-size($h0-size...);
    margin: 0 0 30px;
  }
}
.h1, .base h1 {
  @include font-size($h3-size...);
    margin: 0 0 15px;
  @include above-width($mobile) {
    @include font-size($h2-size...);
    margin: 0 0 20px;
  }
  @include above-width($tablet) {
    @include font-size($h1-size...);
    margin: 0 0 30px;
  }
}
.h2, .base h2 {
  @include font-size($h4-size...);
    margin: 20px 0 15px;
  @include above-width($mobile) {
    @include font-size($h3-size...);
    margin: 30px 0 20px;
  }
  @include above-width($tablet) {
    @include font-size($h2-size...);
    margin: 40px 0 30px;
  }
}
.h3, .base h3 {
  @include font-size($h4-size...);
  margin: 20px 0 15px;
  @include above-width($tablet) {
    @include font-size($h3-size...);
    margin: 30px 0 15px;
  }
}
.h4, .base h4 {
  @include font-size($h5-size...);
  @include above-width($tablet) {
    @include font-size($h4-size...);
  }
}
.h5, .base h5 {
  @include font-size($h5-size...);
  margin: 0;
}
.h6, .base h6 {
  @include font-size($h6-size...);
  margin: 0;
}
.h7 {
  @include font-size($h7-size...);
  margin: 0;
}
img {
  max-width: 100%;
  width: auto;
}
a {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
}
blockquote {
  @include font-size(18);
  @include above-width($mobile) {
    @include font-size(22);
  }
  @include above-width($tablet) {
    @include font-size(28);
  }
}
p {
  @include font-size(20);
  @include above-width($tablet) {
    @include font-size;
  }
}
*, *:after, *:before { @include border-box; }
.no-boxsizing, .no-boxsizing *, .no-boxsizing *:after, .no-boxsizing *:before { @include no-border-box; }