body {
  background: #DDD;
  color: #222;
  &.home {
    background: #FFF;
  }
}
// add squares on interior pages for the nav! right hand side
#container {
  @include max-width(800px);
  margin: 0 auto 0;
  background: #FFF;
  position: relative;
  padding: 15px;
  @include above-width($tablet) {
    padding: 30px;
  }
  @include above-width(1110px) {
    margin-top: 30px;
  }
  .home & {
    position: static;
    max-width: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
  }
}
#branding, #search, #sidebar, #comments, .page > header {
  display: none;
}
#header {
  @include max-width(800px);
  position: relative;
  margin: 30px auto 0;
  .home & {
    display: none;
  }
}
.menu-main-menu-container {
  text-align: center;
  @include above-width(800px) {
    text-align: left;
  }
  @include above-width(1110px) {
    height: auto;
    width: 50px;
    position: absolute;
    right: -55px;
    top: 0;
  }
  .menu {
    @extend .list-unstyled;
    margin: 0;
    @extend .clearfix;
    li {
      display: block;
      float: left;
      width: 50%;
      &:nth-child(odd) {
        padding: 0 2px 0 5px;
      }
      &:nth-child(even) {
        padding: 0 5px 0 3px;
      }
      @include above-width($mobile) {
        @include inline-block(middle);
        float: none;
        width: auto;
        &:nth-child(odd) {
          padding: 0;
        }
        &:nth-child(even) {
          padding: 0;
        }
      }
    }
    a {
      display: block;
      height: 50px;
      background: #FFF;
      text-align: center;
      padding: 13px;
      position: relative;
      margin-bottom: 5px;
      @include above-width(1110px) {
        display: block;
        margin-bottom: 5px;
      }
      i {
        display: inline;
        @include font-size(24, 1);
        width: 24px;
        height: 24px;
        margin-right: 5px;
        @include above-width(1110px) {
          display: block;
          margin: 0;
        }
      }
      span {
        @include font-size(16, 1);
        font-family: $title;
        position: relative;
        top: -2px;
        @include above-width(1110px) {
          color: $red;
          display: none;
          position: absolute;
          right: -98px;
          top: 18px;
          width: 90px;
          text-align: left;
        }
      }
      &:hover {
        text-decoration: none;
        span {
          @include above-width(1110px) {
            display: block;
          }
        }
      }
    }
    .current-menu-item a {
      background: $red;
      color: #FFF;
    }
  }
}
.tiles-wrap {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 8px auto 0;
  @include above-width(600px) {
    margin-top: 30px;
    max-width: none;
    width: 600px;
    height: 900px;
  }
  @include above-width(900px) {
    width: 900px;
    height: 600px;
  }
  .subpage & {
    position: static;
  }
}
.tiles {
  @extend .clearfix;
  @include above-width(600px) {
    .home {
      left: 0;
      top: 0;
    }
    .who-we-are {
      top: 0;
      left: 300px;
    }
    .what-we-do {
      left: 0;
      top: 300px;
    }
    .attorneys {
      left: 300px;
      top: 300px;
    }
    .blog {
      left: 0;
      top: 600px;
    }
    .contact {
      left: 300px;
      top: 600px;
    }
  }
  @include above-width(900px) {
    .col-1 {
      left: 0;
    }
    .col-2 {
      left: 300px;
    }
    .col-3 {
      left: 600px;
    }
    .row-1 {
      top: 0;
    }
    .row-2 {
      top: 300px;
    }
  }
  .page-tile {
    padding: 85px 30px 30px;
    height: 300px;
    background: #DDD;
    text-align: center;
    display: block;
    color: $red;
    border-bottom: 8px solid #FFF;
    @include above-width(600px) {
      width: 300px;
      position: absolute;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $red;
    }
    h3 {
      margin: 0 0 15px;
      @include font-size(36, 1);
    }
    i {
      @include font-size(70, 1);
      margin-bottom: 10px;
    }
    p {
      @include font-size(20, 1.2);
      color: #000;
    }
    .preview {
      text-align: center;
    }
    .controls {
      cursor: pointer;
    }
    &.active {
      padding: 0;
      float: none;
      position: absolute;
      background: #FFF;
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      min-height: 100%;
      height: auto;
      .preview {
        display: none;
      }
      .content {
        opacity: 1;
        padding: 30px;
        height: auto;
      }
    }
  }
  .home {
    background: $red url('imgs/logo-white.png') center 90px no-repeat;
    background-image: url('imgs/logo-white.svg'), none;
    color: #FFF;
    padding-top: 150px;
    &:hover {
      color: #FFF;
    }
    h2 {
      @include font-size(21, 1);
    }
  }
}

.decor {
  display: none;
  @include above-width(600px) {
    display: block;
  }
  .v-line, .h-line {
    position: absolute;
    background: #FFF;
    z-index: 5;
    -webkit-transition: width 1s linear, height 1s linear, opacity .5s linear;
       -moz-transition: width 1s linear, height 1s linear, opacity .5s linear;
         -o-transition: width 1s linear, height 1s linear, opacity .5s linear;
            transition: width 1s linear, height 1s linear, opacity .5s linear;
  }
  .h-line {
    width: 8px;
    top: 0;
    height: 0%;
    &.middle {
      margin-left: -4px;
      left: 50%;
    }
    &.extend {
      height: 100%;
      opacity: 1;
    }
    @include above-width(900px) {
      height: 8px;
      left: 0;
      width: 0%;
      opacity: 0;
      top: auto;
      &.top {
        top: 0;
      }
      &.middle {
        margin-left: 0;
        left: 0;
        margin-top: -4px;
        top: 50%;
      }
      &.bottom {
        bottom: 0;
      }
      &.extend {
        width: 100%;
        height: 8px;
      }
    }
  }
  .v-line {
    height: 8px;
    left: 0;
    width: 0%;
    &.left-middle {
      top: 33.3333%;
      margin-top: -4px;
    }
    &.right-middle {
      top: 66.6666%;
      margin-top: -4px;
    }
    &.extend {
      width: 100%;
      opacity: 1;
    }
    @include above-width(900px) {
      left: auto;
      width: 8px;
      top: 0;
      height: 0%;
      opacity: 0;
      &.left-middle {
        left: 33.3333%;
        top: 0;
        margin-top: 0;
        margin-left: -4px;
      }
      &.right-middle {
        left: 66.6666%;
        top: 0;
        margin-top: 0;
        margin-left: -4px;
      }
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      &.extend {
        width: 8px;
        height: 100%;
      }
    }
  }
}
.banner {
  margin: -15px -15px 20px;
  @include max-width(800px);
  @include above-width($tablet) {
    margin: -30px -30px 20px;
  }
}
.inner-nav {
  margin-top: 20px;
  .inner-nav-menu {
    @extend .clearfix;
    margin: 0 -5px;
    .inner-menu-item {
      width: 25%;
      float: left;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
    }
    &.c3-up .inner-menu-item {
      width: 33.3333%;
    }
  }
  .inner-nav-content {
    // margin-bottom: 30px;
  }
  .inner-nav-item {
    @include max-width(740px);
    @include above-width(800px) {
      width: 740px;
    }
    background: #FFF;
  }
}
#cntctfrm_contact_form {
  @include max-width(400px);
  label {
    font-family: $title;
    margin-top: 20px;
  }
  #{$all-text-inputs}, textarea {
    @extend .form-control;
    width: 100% !important;
  }
  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    font-weight: bold;
    font-family: $sans;
    margin-top: 20px;
  }
}
#footer {
  @include max-width(800px);
  margin: 0 auto 30px;
  background: #FFF;
  padding: 10px 30px 30px;
  position: relative;
  text-align: center;
  @include font-size(16, 1);
  color: #AAA;
  .home & {
    display: none;
  }
}