body {
  background: #DDD;
  color: #222;
  &.home {
    background: #FFF;
  }
}
// add squares on interior pages for the nav! right hand side
#container {
  @include max-width(800px);
  margin: 0 auto 0;
  background: #FFF;
  position: relative;
  padding: 15px;
  @include above-width($tablet) {
    padding: 30px;
  }
  @include above-width(1110px) {
    margin-top: 30px;
  }
  .home & {
    position: static;
    max-width: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
  }
}
#branding, #search, #sidebar, #comments, .page > header {
  display: none;
}
#header {
  @include max-width(800px);
  position: relative;
  margin: 30px auto 0;
  .home & {
    display: none;
  }
}
.menu-main-menu-container {
  text-align: center;
  @include above-width(800px) {
    text-align: left;
  }
  @include above-width(1110px) {
    height: auto;
    width: 50px;
    position: absolute;
    right: -55px;
    top: 0;
  }
  .menu {
    @extend .list-unstyled;
    margin: 0;
    @extend .clearfix;
    li {
      display: block;
      float: left;
      width: 50%;
      &:nth-child(odd) {
        padding: 0 2px 0 5px;
      }
      &:nth-child(even) {
        padding: 0 5px 0 3px;
      }
      @include above-width($mobile) {
        @include inline-block(middle);
        float: none;
        width: auto;
        &:nth-child(odd) {
          padding: 0;
        }
        &:nth-child(even) {
          padding: 0;
        }
      }
    }
    a {
      display: block;
      height: 50px;
      background: #FFF;
      text-align: center;
      padding: 13px;
      position: relative;
      margin-bottom: 5px;
      @include above-width(1110px) {
        display: block;
        margin-bottom: 5px;
      }
      i {
        display: inline;
        @include font-size(24, 1);
        width: 24px;
        height: 24px;
        margin-right: 5px;
        @include above-width(1110px) {
          display: block;
          margin: 0;
        }
      }
      span {
        @include font-size(16, 1);
        font-family: $title;
        position: relative;
        top: -2px;
        @include above-width(1110px) {
          color: $red;
          display: none;
          position: absolute;
          right: -98px;
          top: 18px;
          width: 90px;
          text-align: left;
        }
      }
      &:hover {
        text-decoration: none;
        span {
          @include above-width(1110px) {
            display: block;
          }
        }
      }
    }
    .current-menu-item a {
      background: $red;
      color: #FFF;
    }
  }
}
.tiles-wrap {
  position: relative;
  width: auto;
  max-width: 500px;
  margin: 8px auto 30px;
  @include above-width(750px) {
    margin-top: 30px;
    max-width: none;
    width: 750px;
    height: 750px;
  }
  .subpage & {
    position: static;
  }
}
.tiles {
  @extend .clearfix;
  
  .page-tile {
    padding: 110px 30px 30px;
    height: 250px;
    background: #DDD;
    text-align: center;
    display: block;
    color: #FFF;
    border-bottom: 8px solid #FFF;
    @include above-width(750px) {
      width: 250px;
      position: absolute;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #FFF;
      h3 {
        text-shadow: 0 0 10px rgba(0,0,0,1);
      }
    }
    h3 {
      margin: 0 0 15px;
      @include font-size(36, 1);
      text-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    i {
      @include font-size(70, 1);
      margin-bottom: 10px;
      display: none;
    }
    p {
      @include font-size(20, 1.2);
      color: #000;
    }
    .preview {
      text-align: center;
    }
    .controls {
      cursor: pointer;
    }
    &.active {
      padding: 0;
      float: none;
      position: absolute;
      background: #FFF;
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      min-height: 100%;
      height: auto;
      .preview {
        display: none;
      }
      .content {
        opacity: 1;
        padding: 30px;
        height: auto;
      }
    }
  }
  @include above-width(750px) {
    .main-box {
      left: 0;
      top: 0;
      width: 500px;
      height: 500px;
    }
    .sidebox-1 {
      top: 0;
      left: 500px;
    }
    .sidebox-2 {
      top: 250px;
      left: 500px;
    }
    .lowerbox-1 {
      top: 500px;
      left: 0;
    }
    .lowerbox-2 {
      top: 500px;
      left: 250px;
    }
    .lowerbox-3 {
      top: 500px;
      left: 500px;
    }
  }
  .home {
    background: $red url('imgs/logo-white.png') center 90px no-repeat;
    background-image: url('imgs/logo-white.svg'), none;
    color: #FFF;
    padding-top: 150px;
    &:hover {
      color: #FFF;
      h3 {
        text-shadow: none;
      }
    }
    h2 {
      @include font-size(21, 1);
    }
    h3 {
      @include font-size(66, 1.1);
      text-transform: uppercase;
      margin-top: 110px;
      text-shadow: none;
      span {
        @include font-size(87, 1.1);
      }
    }
  }
  .who-we-are {
    background: transparent url('imgs/photos/photo-1-square.jpg') center center no-repeat;
    background-size: cover;
  }
  .what-we-do {
    background: transparent url('imgs/photos/photo-2-square.jpg') center center no-repeat;
    background-size: cover;
  }
  .attorneys {
    background: transparent url('imgs/photos/photo-3-square.jpg') center center no-repeat;
    background-size: cover;
  }
  .blog {
    background: transparent url('imgs/photos/photo-5-square.jpg') center center no-repeat;
    background-size: cover;
  }
  .contact {
    background: transparent url('imgs/photos/photo-6-square.jpg') center center no-repeat;
    background-size: cover;
  }
}

.decor {
  display: none;
  @include above-width(500px) {
    display: block;
  }
  .v-line, .h-line {
    position: absolute;
    background: #FFF;
    z-index: 5;
    -webkit-transition: width 1s linear, height 1s linear, opacity .5s linear;
       -moz-transition: width 1s linear, height 1s linear, opacity .5s linear;
         -o-transition: width 1s linear, height 1s linear, opacity .5s linear;
            transition: width 1s linear, height 1s linear, opacity .5s linear;
  }
  .h-line {
    @include above-width(750px) {
      height: 8px;
      width: 0%;
      opacity: 0;
      top: auto;
      &.long {
        top: 66.6666%;
        left: 0;
        &.extend {
          width: 100%;
          opacity: 1;
        }
      }
      &.short {
        margin-left: 0;
        left: 66.6666%;
        margin-top: -4px;
        top: 33.3333%;
        &.extend {
          opacity: 1;
          width: 33.3333%;
        }
      }
    }
  }
  .v-line {
    @include above-width(750px) {
      left: auto;
      width: 8px;
      height: 0%;
      opacity: 0;
      &.long {
        top: 0;
        left: 66.6666%;
        margin-top: 0;
        margin-left: -4px;
        &.extend {
          opacity: 1;
          height: 100%;
        }
      }
      &.short {
        left: 33.3333%;
        top: 66.6666%;
        margin-top: 0;
        margin-left: -4px;
        &.extend {
          opacity: 1;
          height: 33.3333%;
        }
      }
    }
  }
}
.banner {
  margin: -15px -15px 20px;
  @include max-width(800px);
  @include above-width($tablet) {
    margin: -30px -30px 20px;
  }
}
.people-banner {
  height: 500px;
  &.carlos {
    background: transparent url('imgs/photos/people-mark.jpg') center center no-repeat;
    background-size: cover;
  }
  &.michael {
    background: transparent url('imgs/photos/people-mark.jpg') center center no-repeat;
    background-size: cover;
  }
  &.christopher {
    background: transparent url('imgs/photos/people-mark.jpg') center center no-repeat;
    background-size: cover;
  }
  &.matthew {
    background: transparent url('imgs/photos/people-matt.jpg') center center no-repeat;
    background-size: cover;
  }
}
.title-banner {
  height: 300px;
  padding: 200px 20px 20px;
  h1 {
    color: #FFF;
  }
  &.who-we-are {
    background: transparent url('imgs/photos/photo-1.jpg') center center no-repeat;
    background-size: cover;
  }
  &.what-we-do {
    background: transparent url('imgs/photos/photo-2.jpg') center bottom no-repeat;
    background-size: cover;
  }
  &.attorneys {
    background: transparent url('imgs/photos/photo-3.jpg') center bottom no-repeat;
    background-size: cover;
  }
  &.blog {
    background: transparent url('imgs/photos/photo-5.jpg') center 94% no-repeat;
    background-size: cover;
  }
  &.contact {
    background: transparent url('imgs/photos/photo-6.jpg') center 85% no-repeat;
    background-size: cover;
  }
}
.inner-nav {
  margin-top: 20px;
  .inner-nav-menu {
    @extend .clearfix;
    margin: 0 -5px;
    .inner-menu-item {
      width: 25%;
      float: left;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
    }
    &.c3-up .inner-menu-item {
      width: 33.3333%;
    }
  }
  .inner-nav-content {
    // margin-bottom: 30px;
  }
  .inner-nav-item {
    @include max-width(740px);
    @include above-width(800px) {
      width: 740px;
    }
    background: #FFF;
  }
}
.subnav {
  ul {
    @extend .row;
  }
  li {
    @extend .col-sm-6;
  }
  a {
    display: block;
    text-decoration: none;
    color: #222;
    padding-top: 10px;
    .h3 {
      display: block;
      margin-top: 0;
    }
    &:hover {
      .h3 {
        color: $red;
      }
    }
  }
}
.people-listing {
  margin: 20px 0 0;
  h3 {
    @include font-size(18, 1);
    text-align: center;
  }
}
#cntctfrm_contact_form {
  @include max-width(400px);
  label {
    font-family: $title;
    margin-top: 20px;
  }
  #{$all-text-inputs}, textarea {
    @extend .form-control;
    width: 100% !important;
  }
  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    font-weight: bold;
    font-family: $sans;
    margin-top: 20px;
  }
}
#footer {
  @include max-width(800px);
  margin: 0 auto 30px;
  background: #FFF;
  padding: 10px 30px 30px;
  position: relative;
  text-align: center;
  @include font-size(16, 1);
  color: #AAA;
  .home & {
    display: none;
  }
}