body {
  background: #FFF;
  color: #222;
}
#wrapper {
}
#header, #sidebar, #comments, #footer, .page > header {
  display: none;
}
.tiles {
  @extend .clearfix;
  .col-1 {
    left: 0;
  }
  .col-2 {
    left: 33.3333%;
  }
  .col-3 {
    left: 66.6666%;
  }
  .row-1 {
    top: 0;
  }
  .row-2 {
    top: 50%;
  }
  .page-tile {
    position: absolute;
    padding: 30px;
    width: 33.3333%;
    height: 50%;
    background: #DDD;
    text-align: center;
    -webkit-transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear;
       -moz-transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear;
         -o-transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear;
            transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear;
    .content {
      @include transition(width, .2s);
      @include transition(max-width, .2s);
      @include transition(opacity, .2s);
      -webkit-transition: width .5s linear, max-width .5s linear, opacity .5s linear;
         -moz-transition: width .5s linear, max-width .5s linear, opacity .5s linear;
           -o-transition: width .5s linear, max-width .5s linear, opacity .5s linear;
              transition: width .5s linear, max-width .5s linear, opacity .5s linear;
      opacity: 0;
      margin: 0 auto;
      height: 0;
      overflow: hidden;
      text-align: left;
      @include max-width(600px);
      background: #FFF;
    }
    .preview {
      text-align: center;
    }
    .controls {
      cursor: pointer;
    }
    &.active {
      padding: 0;
      float: none;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      width: 100%;
      min-height: 100%;
      height: auto;
      .preview {
        display: none;
      }
      .content {
        opacity: 1;
        padding: 30px;
        height: auto;
      }
    }
  }
}
.decor {
  .v-line, .h-line {
    position: absolute;
    background: #FFF;
    z-index: 5;
    -webkit-transition: width 1s linear, height 1s linear, opacity .5s linear;
       -moz-transition: width 1s linear, height 1s linear, opacity .5s linear;
         -o-transition: width 1s linear, height 1s linear, opacity .5s linear;
            transition: width 1s linear, height 1s linear, opacity .5s linear;
  }
  .h-line {
    height: 8px;
    left: 0;
    width: 0%;
    opacity: 0;
    &.top {
      top: 0;
    }
    &.middle {
      margin-top: -4px;
      top: 50%;
    }
    &.bottom {
      bottom: 0;
    }
    &.extend {
      width: 100%;
      opacity: 1;
    }
  }
  .v-line {
    width: 8px;
    top: 0;
    height: 0%;
    opacity: 0;
    &.left-middle {
      left: 33.3333%;
      margin-left: -4px;
    }
    &.right-middle {
      left: 66.6666%;
      margin-left: -4px;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &.extend {
      height: 100%;
      opacity: 1;
    }
  }
}