body {
  background: #DDD;
  color: #222;
  &.home {
    background: #FFF;
  }
}
.fixed {
  @include max-width(1000px);
  margin: 0 auto 0;
  position: relative;
}
#container {
  @include max-width(800px);
  margin: 0 auto 0;
  background: #FFF;
  position: relative;
  padding: 15px;
  @include above-width($tablet) {
    padding: 30px;
  }
  @include above-width(1110px) {
    margin-top: 30px;
  }
  .home & {
    position: static;
    max-width: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
  }
}
#branding, #search, #sidebar, #comments, .page > header {
  display: none;
}
#header {
  @include max-width(800px);
  position: relative;
  margin: 30px auto 0;
  .home & {
    display: none;
  }
}
.menu-main-menu-container {
  text-align: center;
  @include above-width(800px) {
    text-align: left;
  }
  @include above-width(1110px) {
    height: auto;
    width: 50px;
    position: absolute;
    right: -55px;
    top: 0;
  }
  .menu {
    @extend .list-unstyled;
    margin: 0;
    @extend .clearfix;
    li {
      display: block;
      float: left;
      width: 50%;
      &:nth-child(odd) {
        padding: 0 2px 0 5px;
      }
      &:nth-child(even) {
        padding: 0 5px 0 3px;
      }
      @include above-width($mobile) {
        @include inline-block(middle);
        float: none;
        width: auto;
        &:nth-child(odd) {
          padding: 0;
        }
        &:nth-child(even) {
          padding: 0;
        }
      }
    }
    a {
      display: block;
      height: 50px;
      background: #FFF;
      text-align: center;
      padding: 13px;
      position: relative;
      margin-bottom: 5px;
      @include above-width(1110px) {
        display: block;
        margin-bottom: 5px;
      }
      i {
        display: inline;
        @include font-size(24, 1);
        width: 24px;
        height: 24px;
        margin-right: 5px;
        @include above-width(1110px) {
          display: block;
          margin: 0;
        }
      }
      span {
        @include font-size(16, 1);
        font-family: $title;
        position: relative;
        top: -2px;
        @include above-width(1110px) {
          color: $red;
          display: none;
          position: absolute;
          right: -98px;
          top: 18px;
          width: 90px;
          text-align: left;
        }
      }
      &:hover {
        text-decoration: none;
        span {
          @include above-width(1110px) {
            display: block;
          }
        }
      }
    }
    .current-menu-item a {
      background: $red;
      color: #FFF;
    }
  }
}
.home-header {
  .branding {
    border-bottom: 1px solid #ddd;
    padding: 20px 0 10px;
    margin-bottom: 30px;
    color: #000;
  }
  .home-logo {
    background: transparent url('imgs/logo-red.png') center center no-repeat;
    background-image: url('imgs/logo-red.svg'), none;
    display: block;
    width: 215px;
    height: 72px;
    text-indent: -9999%;
    font-size: 0;
    margin: auto;
    @include above-width($tablet) {
      margin: 0
    }
  }
  p {
    margin: 0;
    text-align: center;
    @include above-width($tablet) {
      text-align: left;
    }
  }
  .tagline {
    text-align: center;
    display: none;
    @include above-width($tablet) {
      position: absolute;
      right: 0;
      top: 15px;
    }
    h2 {
      @include font-size(36, 1);
    }
  }
}
.page-thumbs {
  @include max-width(1000px);
  margin: auto;
  .img {
    display: block;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    @include above-width($tablet) {
      margin-bottom: 0;
    }
    &:hover {
      overflow: visible;
      h2 {
        opacity: 1;
        text-shadow: 0 0 20px rgba(0,0,0,.7);
      }
    }
    h2 {
      @include font-size(90, 1);
      font-weight: 900;
      font-style: italic;
      white-space: nowrap;
      position: absolute;
      left: 5px;
      color: #FFF;
      opacity: .8;
      margin: 0;
      padding-right: 20px;
    }
    h3 {
      @include font-size(28, 1);
      color: #FFF;
      font-weight: 700;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.5);
      padding: 10px 0;
      margin: 0;
    }
  }
  .who-we-are {
    background: transparent url('imgs/photos/photo-1.jpg') center center no-repeat;
    background-size: cover;
    z-index: 6;
    h2 {
      top: 0;
    }
  }
  .what-we-do {
    background: transparent url('imgs/photos/photo-11.jpg') center center no-repeat;
    background-size: cover;
    z-index: 5;
    h2 {
      top: 75px;
    }
  }
  .attorneys {
    background: transparent url('imgs/photos/people-mark.jpg') center center no-repeat;
    background-size: cover;
    z-index: 4;
    h2 {
      top: 150px;
    }
  }
  .contact {
    background: transparent url('imgs/photos/photo-6.jpg') center center no-repeat;
    background-size: cover;
    z-index: 3;
    h2 {
      top: 225px;
    }
  }
  .blog {
    background: transparent url('imgs/photos/photo-12.jpg') center center no-repeat;
    background-size: cover;
    z-index: 2;
    h2 {
      top: 300px;
    }
  }
  @include above-width($tablet) {
    .who-we-are {
      background-position: 30% center;
    }
    .what-we-do {
      background-position: left center;
    }
    .attorneys {
      background-position: 46% center;
    }
    .blog {
      background-position: 40% center;
    }
    .contact {
      background-position: 9% center;
    }
  }
}
.banner {
  margin: -15px -15px 20px;
  @include max-width(800px);
  @include above-width($tablet) {
    margin: -30px -30px 20px;
  }
}
.people-banner {
  height: 500px;
  &.carlos {
    background: transparent url('imgs/photos/people-carlos.jpg') center center no-repeat;
    background-size: cover;
  }
  &.michael {
    background: transparent url('imgs/photos/people-michael.jpg') center center no-repeat;
    background-size: cover;
  }
  &.christopher {
    background: transparent url('imgs/photos/people-christopher.jpg') center center no-repeat;
    background-size: cover;
  }
  &.matthew {
    background: transparent url('imgs/photos/people-matt.jpg') center center no-repeat;
    background-size: cover;
  }
}
.title-banner {
  height: 300px;
  padding: 200px 20px 20px;
  h1 {
    color: #FFF;
  }
  &.who-we-are {
    background: transparent url('imgs/photos/photo-1.jpg') center center no-repeat;
    background-size: cover;
  }
  &.what-we-do {
    background: transparent url('imgs/photos/photo-11.jpg') center bottom no-repeat;
    background-size: cover;
  }
  &.attorneys {
    background: transparent url('imgs/photos/people-mark.jpg') center 60% no-repeat;
    background-size: cover;
  }
  &.blog {
    background: transparent url('imgs/photos/photo-12.jpg') center 60% no-repeat;
    background-size: cover;
  }
  &.contact {
    background: transparent url('imgs/photos/photo-6.jpg') center 85% no-repeat;
    background-size: cover;
  }
  &.pm-engagement {
    background: transparent url('imgs/photos/photo-13.jpg') center 80% no-repeat;
    background-size: cover;
    padding-top: 130px;
    h1 {
      text-shadow: 0 0 20px rgba(0,0,0,.5);
    }
  }
  &.a-engagement {
    background: transparent url('imgs/photos/photo-8.jpg') center bottom no-repeat;
    background-size: cover;
    h1 {
      text-shadow: 0 0 20px rgba(0,0,0,.5);
    }
  }
}
.inner-nav {
  margin-top: 20px;
  .inner-nav-menu {
    @extend .clearfix;
    margin: 0 -5px;
    .inner-menu-item {
      width: 25%;
      float: left;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
    }
    &.c3-up .inner-menu-item {
      width: 33.3333%;
    }
  }
  .inner-nav-content {
    // margin-bottom: 30px;
  }
  .inner-nav-item {
    @include max-width(740px);
    @include above-width(800px) {
      width: 740px;
    }
    background: #FFF;
  }
}
.subnav {
  ul {
    @extend .row;
  }
  li {
    @extend .col-sm-6;
  }
  a {
    display: block;
    text-decoration: none;
    color: #222;
    padding-top: 10px;
    .h3 {
      display: block;
      margin-top: 0;
    }
    &:hover {
      .h3 {
        color: $red;
      }
    }
  }
}
.people-listing {
  margin: 20px 0 0;
  h3 {
    @include font-size(18, 1);
    text-align: center;
  }
}
#cntctfrm_contact_form {
  label {
    font-family: $title;
    margin-top: 20px;
  }
  #{$all-text-inputs}, textarea {
    @extend .form-control;
    width: 100% !important;
  }
  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    font-weight: bold;
    font-family: $sans;
    margin-top: 20px;
  }
}
.contact-address {
  padding-top: 30px;
  p {
    @include font-size(20);
  }
  h4 {
    @include font-size(18);
    margin: 0 0 10px;
    font-weight: bold;
  }
}
#footer {
  @include max-width(800px);
  margin: 0 auto 30px;
  background: #FFF;
  padding: 10px 30px 30px;
  position: relative;
  text-align: center;
  @include font-size(16, 1);
  color: #AAA;
  .home & {
    display: none;
  }
  a {
    color: #666;
    margin-left: 5px;
    &:hover {
      color: #333;
    }
  }
}